@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
.loginForm {
  background-color: #FFF; }

.feed-search {
  max-width: 500px;
  margin: 0px auto; }

.errorMessage {
  color: #dc3545;
  font-size: .8rem;
  display: none; }

.btn-form, .new-outline-btn, .small-btn {
  background-color: #6F46B0;
  color: #FFF; }

.btn-form:hover, .new-outline-btn:hover, .small-btn:hover {
  background-color: #FFF;
  color: #6F46B0;
  border: 1px solid #6F46B0; }

.profileBtn {
  width: 100%; }

.small-btn {
  font-size: 1rem;
  padding: 2px 5px;
  width: fit-content;
  cursor: pointer; }

.fa-thumbs-up {
  font-size: 1.5rem;
  cursor: pointer;
  color: #6F46B0; }

.updates-on-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px; }

.profilKnapp {
  cursor: pointer; }

.userInfo {
  max-width: 600px; }

.allProfiles {
  max-width: 700px;
  margin: 10px auto;
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.profile-feed-card, .feed-card {
  max-width: 200px; }

.header-nav {
  gap: 50px; }

.nav-link {
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold; }

.nav-link:hover {
  color: #6F46B0; }

.display-search {
  display: none; }

.sticky-bottom {
  display: none;
  position: fixed !important;
  bottom: 0;
  font-size: 3rem;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.8); }

.sticky-bottom a {
  color: #6F46B0; }

.iconAdd {
  border: 3px solid #6F46B0;
  border-radius: 50%;
  padding: 1px 4px; }

@media (max-width: 768px) {
  .sticky-bottom {
    display: block; } }
@media (max-width: 1200px) {
  .header-nav {
    gap: 0px; } }
.profileImg {
  width: 110px;
  height: 80px;
  margin-top: 10px; }

.profile-feed img {
  width: 100%; }

.userPosts img, .updates-on-posts img {
  max-width: 300px; }

.postFeed a, .profile-feed a {
  text-decoration: none;
  color: black; }

.postFeed, .profile-feed {
  max-width: 1070px;
  margin: 0px auto;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px; }

.feed-card {
  max-width: max-content; }

.feed-card, .profile-feed-card {
  background-color: #FFF;
  padding: 20px;
  width: 100%;
  margin: 0px auto; }

.tag-input {
  font-size: .7rem;
  width: 20%; }

@media (max-width: 574px) {
  .postFeed {
    flex-direction: row; } }
@media (max-width: 700px) {
  .postFeed, .profile-feed {
    max-width: 600px; } }
@media (max-width: 1050px) {
  .postFeed, .profile-feed {
    max-width: 900px; } }
.post_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rbga(255, 255, 255, 0.5); }

.postModalContet {
  background-color: #FFF;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px; }

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.postBtn {
  padding: 5px;
  border: none; }

.indexBody {
  background-color: #FF9C9C; }

body {
  background-color: #FAD5D5; }

.index-top {
  margin-top: 100px; }

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/newDishDelight.png");
  background-size: cover;
  opacity: 0.60;
  z-index: -1; }

h1, h2 {
  font-family: "Pacifico", cursive;
  color: #FFF; }

h1 {
  font-size: 3.5rem;
  margin-top: 20px; }

h2 {
  font-size: 3rem; }

hr {
  color: #FFF;
  opacity: 100; }

.index-hr {
  display: none; }

.loginSiteLogo {
  flex-direction: column; }

@media (max-width: 768px) {
  .background-img {
    background-image: url("/img/newDishDelightSmall.png"); }

  .index-top {
    margin-top: 10px; }

  h1 {
    font-size: 2.5rem;
    margin-top: 20px; }

  h2 {
    font-size: 2rem; }

  .index-hr {
    display: block; }

  .loginSiteLogo {
    max-width: 250px; } }

/*# sourceMappingURL=style.css.map */
