//Costume variables
$primaryFont: 'Pacifico', cursive;
$primary: #6F46B0;


//import functions and variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$alt-theme-colors: (
    "altlight": #FAD5D5,
    "altdark": #FF9C9C
);

$theme-colors: map-merge($alt-theme-colors, $theme-colors);

//import styles
@import "../scss/form.scss";
@import "../scss/button.scss";
@import "../scss/profile.scss";
@import "../scss/nav.scss";
@import "../scss/images.scss";
@import "../scss/posts.scss";
@import "../scss/newPostModal.scss";

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.indexBody {
    background-color: map-get($alt-theme-colors, "altdark");
}

body {
    background-color: map-get($alt-theme-colors, "altlight");
}

.index-top {
    margin-top: 100px;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/newDishDelight.png'); 
    background-size: cover; 
    opacity: 0.60; 
    z-index: -1;
}

h1, h2 {
    font-family: $primaryFont;
    color: #363636;
}

h1 {
    font-size: 3.5rem;
    margin-top: 20px;
}

h2 {
    font-size: 3rem;
}

hr {
    color: #363636;
    opacity: 100;
}

.index-hr {
    display: none;
}

.loginSiteLogo {
    flex-direction: column;
}



@media(max-width: 768px) {
    .background-img {
        background-image: url('/img/newDishDelightSmall.png');
    }

    .index-top {
        margin-top: 10px;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 20px;
    }
    
    h2 {
        font-size: 2rem;
    }

    .index-hr {
        display: block;
    }

    .loginSiteLogo {
        max-width: 250px;
    }
}