.btn-form, .new-outline-btn, .small-btn {
    background-color: $primary;
    color: #FFF;
    //width: 66%;
}

.btn-form:hover, .new-outline-btn:hover, .small-btn:hover {
    background-color: #FFF;
    color: $primary;
    border: 1px solid $primary;
}

.profileBtn {
    width: 100%;
}

.small-btn {
    font-size: 1rem;
    padding: 2px 5px;
    width: fit-content;
    cursor: pointer;
}

.fa-thumbs-up {
    font-size: 1.5rem;
    cursor: pointer;
    color: $primary;
}

.updates-on-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}